# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Others
.dist/
build/
.coverage
htmlcov/
models/
